<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lbycpd2_test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LBYCPD2_TEST">
        <activity android:name=".RequestActivity"></activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MessageActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Message2Activity"
            android:parentActivityName=".MessageActivity" />
        <activity
            android:name=".InstructionActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".preventive_maintenance.AirFilterActivity"
            android:parentActivityName=".InstructionActivity" />
        <activity
            android:name=".preventive_maintenance.CarWashActivity"
            android:parentActivityName=".InstructionActivity" />
        <activity
            android:name=".preventive_maintenance.BatteryMaintenanceActivity"
            android:parentActivityName=".InstructionActivity" />
        <activity
            android:name=".preventive_maintenance.OilActivity"
            android:parentActivityName=".InstructionActivity" />
        <activity
            android:name=".preventive_maintenance.BrakePadsActivity"
            android:parentActivityName=".InstructionActivity" />
        <activity
            android:name=".preventive_maintenance.FuelFilterReplacementActivity"
            android:parentActivityName=".InstructionActivity" />
        <activity
            android:name=".AboutUsActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".DisplayProblemActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".search_problem.OthersProblemActivity"
            android:parentActivityName=".DisplayProblemActivity" />
        <activity
            android:name=".search_problem.EngineProblemActivity"
            android:parentActivityName=".DisplayProblemActivity" />
        <activity
            android:name=".search_problem.ExteriorProblemActivity"
            android:parentActivityName=".DisplayProblemActivity" />
        <activity
            android:name=".search_problem.InteriorProblemActivity"
            android:parentActivityName=".DisplayProblemActivity" />
        <activity
            android:name=".search_problem.interior.LeatherCrackActivity"
            android:parentActivityName=".search_problem.InteriorProblemActivity" />
        <activity
            android:name=".search_problem.interior.CupholderStuckActivity"
            android:parentActivityName=".search_problem.InteriorProblemActivity" />
        <activity
            android:name=".search_problem.interior.SmellyInteriorActivity"
            android:parentActivityName=".search_problem.InteriorProblemActivity" />
        <activity
            android:name=".search_problem.interior.DashboardMeltingActivity"
            android:parentActivityName=".search_problem.InteriorProblemActivity" />
        <activity
            android:name=".search_problem.interior.DamagedDoorHandleActivity"
            android:parentActivityName=".search_problem.InteriorProblemActivity" />
        <activity
            android:name=".search_problem.engine.RoughIdleActivity"
            android:parentActivityName=".search_problem.ExteriorProblemActivity" />
        <activity
            android:name=".search_problem.engine.CarDoesntStartActivity"
            android:parentActivityName=".search_problem.ExteriorProblemActivity" />
        <activity
            android:name=".search_problem.engine.OverheatActivity"
            android:parentActivityName=".search_problem.ExteriorProblemActivity" />
        <activity
            android:name=".search_problem.engine.LeakingFluidActivity"
            android:parentActivityName=".search_problem.ExteriorProblemActivity" />
        <activity
            android:name=".search_problem.engine.TurboWhistleActivity"
            android:parentActivityName=".search_problem.ExteriorProblemActivity" />
        <activity
            android:name=".search_problem.electrical.IndicatorShowingActivity"
            android:parentActivityName=".search_problem.InteriorProblemActivity" />
        <activity
            android:name=".search_problem.electrical.RadioNotWorkingActivity"
            android:parentActivityName=".search_problem.InteriorProblemActivity" />
        <activity
            android:name=".search_problem.electrical.ElectricalUpgradeActivity"
            android:parentActivityName=".search_problem.InteriorProblemActivity" />
        <activity
            android:name=".search_problem.electrical.HeadlightNotWorkingActivity"
            android:parentActivityName=".search_problem.InteriorProblemActivity" />
        <activity
            android:name=".search_problem.exterior.ScratchesActivity"
            android:parentActivityName=".search_problem.ExteriorProblemActivity" />
        <activity
            android:name=".search_problem.exterior.HeadlightCrackActivity"
            android:parentActivityName=".search_problem.ExteriorProblemActivity" />
        <activity
            android:name=".search_problem.exterior.TireLeakActivity"
            android:parentActivityName=".search_problem.ExteriorProblemActivity" />
        <activity
            android:name=".search_problem.exterior.CarAccidentActivity"
            android:parentActivityName=".search_problem.ExteriorProblemActivity" />
        <activity
            android:name=".search_problem.exterior.LostWheelActivity"
            android:parentActivityName=".search_problem.ExteriorProblemActivity" />
        <activity
            android:name=".search_problem.ElectricalProblemActivity"
            android:parentActivityName=".DisplayProblemActivity" />
        <activity
            android:name=".search_problem.others.AcActuatorActivity"
            android:parentActivityName=".search_problem.OthersProblemActivity" />
        <activity
            android:name=".search_problem.others.WeakHornActivity"
            android:parentActivityName=".search_problem.OthersProblemActivity" />
        <activity
            android:name=".search_problem.others.RideQualityActivity"
            android:parentActivityName=".search_problem.OthersProblemActivity" />
        <activity
            android:name=".search_problem.others.UpgradingWarrantyActivity"
            android:parentActivityName=".search_problem.OthersProblemActivity" />
        <activity
            android:name=".search_problem.others.WeakHeadlightsActivity"
            android:parentActivityName=".search_problem.OthersProblemActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>